button {
   width: 110px;
   height: 40px;
   margin-top: 10px;
   background-color: #AFDCEC;
   font-size: 14px;
   color: white;
   border: 3px solid #AFDCEC;
   border-radius: 8px;
   margin-left: 130px;
   text-align: center;
}

body{ font: 18px "Times New Roman", Times, serif; }
 
#page-wrap { width: 500px; margin: 0 auto;}
 
h1 { margin: 25px 0; font: 22px "Times New Roman", Times, serif; text-transform: uppercase; letter-spacing: 3px; }
 
#quiz input {
    vertical-align: middle;
}
 
#quiz ol {
   margin: 0 0 10px 20px;
}
 
#quiz ol li {
   margin: 0 0 12px 0;
}
 
#quiz ol li div {
   padding: 4px 0;
}
 
#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}

#results {
    font-size: 37px, "Times New Roman", Times, serif;
}



 
 


 
 
 
 